Fuzzy/paper/notebooks/** linguist-vendored
PKA/asgn_1/** linguist-vendored
CVL/asgn_1/** linguist-vendored
CVL/group_asgn_1/** linguist-vendored
PKA/group_asgn_1/** linguist-vendored
STMH/** linguist-vendored
NLP/task01/** linguist-vendored